* {
    margin: 0px;
}

body {
    font-family: 'Segoe UI';
    display: flexbox;
    background: url("fun.jpg");
    background-position: center ; 
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
}

.div-1 {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    opacity: 80%;
    display: flex;
    justify-content: flex-end;  
    align-items: center;
    z-index: 1;  
}

nav, a {
    color: #f3f3f3;
    padding: 10px;
    text-decoration: none;
}

.div-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
   
}

.highlight-text {
    font-size: 75px;
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 255, 255)
}

.div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: bisque;
    /*background-color: gray;*/
}

.div-3-left {
    width: 650px;
    height: 350px;
    padding-left: 10%;
    /*background-color: red;
    border: 1px solid black;*/
}

.div-3-right {
    width: 650px;
    height: 350px;
    padding-left: 10px;
     /*background-color: red;
    border: 1px solid black;*/ 
}

.div-4 {
    width: 100%;
    height: 350px;
    background-color: bisque;
}

.div-5 {
    width: 100%;
    height: 300px;
    background-color: bisque;
}

.div-6 {
    width: 100%;
    height: 400px;
    background-color: bisque;
}

.div-7 {
    width: 100%;
    height: 70px;
    background-color: rgb(167, 167, 167)
}

.div-8 {
    background-color: rgb(71, 192, 192);
}

.card-body {
 background-color:rgb(71, 192, 192);
 justify-content: baseline;
 align-items: start;
 flex-direction: column;
}